{% extends 'shared/_layout.html' %}


<section class="pricing-section">
  <h2>پلن‌های ما</h2>
  <div class="pricing-container">

    <div class="pricing-card">
      <div class="icon">🌀</div>
      <h3>سایت وردپرسی</h3>
      <p class="price">۵ میلیون تومان</p>
      <ul>
        <li>راه‌اندازی سریع</li>
        <li>مدیریت آسان</li>
        <li>قالب و افزونه متنوع</li>
      </ul>
      <a href="#" class="btn">انتخاب پلن</a>
    </div>

    <div class="pricing-card">
      <div class="icon">💻</div>
      <h3>سایت اختصاصی</h3>
      <p class="price">۱۲ میلیون تومان</p>
      <ul>
        <li>کدنویسی از صفر</li>
        <li>انعطاف‌پذیری بالا</li>
        <li>امنیت حرفه‌ای</li>
      </ul>
      <a href="#" class="btn">انتخاب پلن</a>
    </div>

    <div class="pricing-card">
      <!-- <div class="icon">🤖</div> -->
      <h3>ربات تلگرام</h3>
      <p class="price">۸ میلیون تومان</p>
      <ul>
        <li>پاسخگویی خودکار</li>
        <li>مدیریت کاربران</li>
        <li>امکانات سفارشی</li>
      </ul>
      <a href="#" class="btn">انتخاب پلن</a>
    </div>
    <div class="pricing-card">
      <div class="icon">🤖</div>
      <h3>ربات تلگرام</h3>
      <p class="price">۸ میلیون تومان</p>
      <ul>
        <li>پاسخگویی خودکار</li>
        <li>مدیریت کاربران</li>
        <li>امکانات سفارشی</li>
      </ul>
      <a href="#" class="btn">انتخاب پلن</a>
    </div>

  </div>
</section>

